@import "tailwindcss";

@theme {
  --color-base: #0a0a0f;
  --color-surface: #15151f;
  --color-primary: #22d3ee;
  --color-secondary: #f0abfc;
  --color-success: #4ade80;
  --color-warning: #fb923c;
}

html,
body {
  background: var(--color-base);
  color: #fafafa;
}
